<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boolzap</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="assets/style/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
  
  <div id="app" class="container">

    <div id="aside" class="float-left">
      
      <div class="frame-utente">
        <div class="utente">
          <!-- <img src="assets/img/avatar_io.jpg" alt=""> -->
          <img :src="'assets/img/avatar'+ user.avatar +'.jpg'" alt="avatar">
          <span>{{user.name}}</span>
        </div>

        <div class="frame-icons float-right">
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>

      </div>
      <!-- ASIDE NOTIFICHE -->
    <div class="box-notifiche">
      <div class="cerchio-notifiche">
        <i class="fas fa-bell-slash"></i>
      </div>
      <div class="txt-notifiche">
        <h4>Riceverai notifiche di nuovi messaggi</h4>
        <h5>Attiva le notifiche desktop</h5>
      </div>
    </div>
      <!-- ASIDE SEARCH BAR -->
   <div class="frame-search">
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="search" 
             placeholder="Cerca o inizia una nuova chat"
            >
    </div>
   </div>

      <!-- ASIDE SEZIONE CONTATTI -->
    <div class="frame-contatti">

      <ul class="lista-contatti">

        <li v-for="(contact, index) in contacts"
            @click="contactActive = index">
          
          <img :src="'assets/img/avatar'+contact.avatar+'.jpg'" alt="avatar">

          <div class="contatto-text-aside">
            <h4>{{contact.name}}</h4>
            <h5>{{contact.messages[contact.messages.length-1].text}}</h5>
          </div>
          
          <div  class="contatto-date-aside">
            <h4>{{contact.messages[contact.messages.length-1].hour}}</h4>
            <h5>{{contact.messages[contact.messages.length-1].date}}</h5>
          </div>
            
        </li>
        
      </ul>

    </div>
 
    </div>

    <div id="chat" class="float-right">
      
      <div 
           
           class="banner-chat">
        
        <div class="utente">

          <img src="assets/img/avatar_1.jpg" alt="">

          <div>
            <h4>{{contacts[contactActive].name}}</h4>
            <h5>Ultimo accesso oggi alle {{contacts[contactActive].messages[0].hour}}</h5>
          </div>
          
        </div>
  
        <div class="frame-icons float-right">
  
          <i class="fas fa-circle-notch"></i>
          <i class="fas fa-comment-alt"></i>
          <i class="fas fa-ellipsis-v"></i>
  
        </div>

      </div>

      <div  v-if="awesome"
            class="display-messaggio">

        <div  v-for="(message, index) in contacts[contactActive].messages"
              class="row">

          <div :class="message.status === 'sent' ? 'sent' : 'inbox'" 
               class="baloon">

              <h3>{{message.text}}</h3>

              <h5><span><i class="fas fa-chevron-down"></i></span> 
              <span> 
                
              </span>
            </h5>
  
          </div>
        </div>
      </div>

      <div class="banner-messaggio">
        <i class="far fa-laugh-beam"></i>
        <div class="frame-text">
          <input type="text" placeholder="Scrivi un messaggio">
        </div>
        <i class="fas fa-microphone-alt"></i>
      </div>

    </div>

  </div>


  <script src="assets/js/script.js"></script>
</body>
</html>