*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom,rgb(36,149,136) 130px, rgb(218,218,218) 0%);
  font-family: Arial, Helvetica, sans-serif;
}
img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  width: 90%;
  height: 90%;
  border-radius: 5px;
  min-width: 900px;
  min-height: 500px;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
#aside{
  width: 40%;
  height: 100%;
  background-color: rgb(235, 235, 235);
  border-radius: 8px 0 0 0;
}
.frame-utente{
  background-color: rgb(234, 234, 234);
  height: 70px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px 0 0 0;
}
.frame-utente{
  display: flex;
  justify-content: space-between;
}
.utente span{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.utente{
  display: flex;
  align-items: center;
  border-radius: 5px 0 0 0;
}
.utente img{
  height: 50px;
  width: 50px;
  margin: 0 10px 0 20px;
  border: solid 0.5px lightgray;
}
img:hover{
  cursor: pointer;
}
.frame-icons{
  width: 100px;
  display: flex;
  justify-content: space-between; 
  color: rgb(180, 180, 180); 
  font-size: 20px;
}
.frame-icons>i{
  transition: all 0.4s;
}
.frame-icons>i:hover{
  color: rgb(36,149,136);
  cursor: pointer;
  transform: scale(1.1);
}
.frame-icons:last-child{
  margin-right: 20px;
}
.box-notifiche{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  background-color: rgb(142, 218, 252);
  padding-left: 20px; 
}
.box-notifiche h4{
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 4px;
}
.box-notifiche h5{
  color: rgb(69, 116, 133);
  margin-left: 10px;
  text-decoration: underline;
}
.cerchio-notifiche{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.cerchio-notifiche{
  cursor: pointer;
}
.cerchio-notifiche i{
  display: flex;
  font-size: 25px;
  color: rgb(142, 218, 252);
  transition: all 0.4s;
}
.cerchio-notifiche i:hover{
  transform: scale(1.09);
  color: rgb(79, 199, 255);
  cursor: pointer;
}
.frame-search{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px rgba(179, 179, 179,0.4);
}
.search{
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border: solid 1px lightgray;
  width: 93%;
  border-radius: 5px;
  color: lightgray;
}
.search input{
  width: 100%;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 16px;
}
.frame-contatti{
  height:calc(100% - 200px);
  width: 96.5%;
  border-right: solid 1px rgb(210, 210, 210);
  background-color: rgb(235, 235, 235);
}
.lista-contatti{
  height: 100%;
  list-style: none;
  overflow: auto;
}
.lista-contatti li{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  height: 79px;
  border-bottom: solid 1px rgb(210, 210, 210);
}
.lista-contatti li h4,.lista-contatti li h5{
  margin-bottom: 5px;
  font-weight: 500;
}
.lista-contatti li:hover{
  background-color: rgb(226, 226, 226);
}
.lista-contatti li img{
  margin-right: 10px;
}
.lista-contatti li img:hover{
 cursor: pointer;
}
.contatto img{
  width: 60px;
  border-radius: 50%;
  margin: 0 10px 0 20px;
}
#primo-contatto{
  margin-top: 15px;
}
.contatto-text-aside{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.contatto-date-aside{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 30%;
  padding-right: 10px;
}
.contatto-date-aside h4{
  font-size: 10px;
  padding-top: 10px;
}
.contatto-date-aside h5{
  font-size: 10px;
  padding-top: 5px;
}

/* sezione chat dx */

#chat{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 5px 0 0;
}
.banner-chat{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 5px 0 0;
  background-color: rgb(231, 229, 228);
  height: 70px;
  border-bottom: solid 1px rgba(199, 199, 199, 0.653);
}
.banner-chat h4{
  font-weight: 500;
}
.banner-chat img{
  margin-right: 10px;
}
.banner-chat h5{
  color: gray;
  font-weight: 500;
}
/* finestra della conversazione della chat */
.display-messaggio{
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  background-size: repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}
/* contenitore che funge da separatore sent/inbox dei messaggi */
.row{
  width: 100%;
  padding: 10px 20px 10px 20px;
}
/* baloon messaggio  */
.baloon{
  border-radius: 20px;
  max-width:60%;
  min-width: 30%;
  padding:  15px 20px 10px 20px; 
  font-size: 14px;
}
#sent, #inbox{
  display: flex;
  flex-direction: column; 
}
#sent{
  background-color: rgb(213, 249,185);
  align-items: flex-end;
  text-align: left;
}
#inbox{
  background-color: white;
  align-items: flex-start;
  text-align: left;
}
#inbox h3, #sent h3{
  margin-bottom: 8px;
  font-weight: 500;
}
#inbox h5, #sent h5{
  color: rgba(104, 102, 102, 0.911);
  letter-spacing: 1px;
  font-weight: 500;
}

.banner-messaggio{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(231, 229, 228);
  border-top: solid 1px rgba(189, 188, 188, 0.742);
}
.banner-messaggio i{
  margin-left: 20px;
  font-size: 20px;
  transition: all 0.4s;
  color: rgb(157, 157, 157); 
}
.banner-messaggio i:hover{
  color: rgb(36,149,136);
  cursor: pointer;
  transform: scale(1.1);
}
.banner-messaggio i:last-child{
  margin-right: 20px;
}

/* sezione input invio messaggi  */
.frame-text{
  width: 80%;
  padding: 10px 15px 10px 15px;
  background-color: rgb(255,255,255);
  border-radius: 8px;
  margin-left: 20px;
}
.frame-text input{
  outline: none;
  border: none;
  font-size: 14px;
  width: 90%
}


